<div class="container">
	<span class="form-title">New Recipe</span>
	<div class="row" style="margin-top: 30px">
		<div class="col-lg-12">
			<ul>
              <% @recipe.errors.full_messages.each do |message| %>
                <div class="bad-flash"><i class="fas fa-exclamation-circle"></i>
                  <%= message %>
              <% end %>
            </ul>
			<p style="border-bottom: 1px solid #F5F5F5; font-size: 20px" >レシピ</p>
			<% if flash[:notice] %>
			 	<div class="bad-flash"><i class="fas fa-exclamation-circle">
			 		<%= flash[:notice]%></i>
			 	</div>
			<% end %>
				<div class="row">
					<div class="col-lg-6">タグ(タグ間には「,」が必須)</div>
						<div class="col-lg-9">
							<%= form_for(@recipe) do |f| %>
							<%= f.text_field :tag_list, value: @recipe.tag_list.join(','), class:"form-control",placeholder: "Tensorflow 2" %>
						</div>
				</div>
				<div class="row">
					<div class="col-lg-6">タイトル</div>
					<div class="col-lg-9"><p><%= f.text_field :title, autocomplete: "off",
							style:"width:80%",placeholder:"タイトル" %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">記事</div>
					<div class="col-lg-9"><p><%= f.text_area :introduction, autocomplete: "off",rows:"3",style:"width:100%",placeholder:"Markdown記法で書いて共有" %></p></div>
					</div>
						<div class="row">
					<div class="col-lg-9"><p><%= markdown(f.text_area :introduction).html_safe %></p></div>
				</div>
				</div>
				<div class="row">
					<div class="col-lg-6">実行環境</div>
					<div class="col-lg-9"><p><%= f.text_field :amount, autocomplete: "off",style:"width:80%",placeholder:"OS？colaboratory？" %></p>
					</div>
				</div>
				<div style="text-align: center;margin: 20px 0">
					<%= f.submit class:"btn btn-warning submit-btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>